* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ececec;
}

header {
  text-align: center;
  padding: 72px;
  background-color: #fff;
}

header h1 {
  font-size: 3em;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li.active {
  background-color: #292929;
}

nav li.contact {
  float: right;
}

nav a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #292929;
}

nav .article {
  display: block;
}

.article ul {
  width: 192px;
  background-color: #fff;
  position: absolute;
  box-shadow: 6px 2px 35px 0px rgba(0, 0, 0, 0.3);
  display: none;
}

.article li {
  float: none;
}

.article-dropdown a {
  display: block;
  color: #000;
}

.article-dropdown a:hover {
  background-color: #f9f9f9;
}

.article:hover .article-dropdown {
  display: block;
}

main .content {
  float: left;
  width: 75%;
  padding: 22px;
}

main::after {
  content: "";
  clear: both;
  display: table;
}

.content .post {
  margin-bottom: 28px;
  background-color: #fff;
  padding: 20px;
}

.post .author {
  font-size: 14px;
}

.post p {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

main .nav-content {
  width: 25%;
  float: left;
  padding: 22px 0;
}

.nav-content .about-me {
  background-color: #fff;
  padding: 20px;
}

.about-me .my-profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #275eb1;
}

.my-profile img {
  margin-right: 8px;
}

.my-profile p {
  font-size: 14px;
}

.nav-content .tag-post {
  background-color: #fff;
  margin: 22px 0;
  padding: 22px;
}

.tag-post a {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  color: #275eb1;
  background-color: #f1f1f1;
  margin: 8px;
}

.tag-post a:hover {
  background-color: #ececec;
}

footer {
  padding: 36px;
  text-align: center;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 512px) {
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav li {
    float: none;
  }

  nav li.contact {
    float: none;
  }

  nav a {
    text-align: center;
    display: block;
  }

  .article ul {
    position: relative;
    width: 100%;
  }

  main .content {
    float: none;
    width: 100%;
  }

  main .nav-content {
    float: none;
    width: 100%;
  }
}