* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://cdn0-production-images-kly.akamaized.net/Evrv-GJThtlXnkl2lMRMxd6Eg-o=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2034539/original/035788100_1522127886-Facebook_News_Feed__Facebook_.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.main-nav {
  background-color: #376bcc;
}

li {
  float: left;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  padding: 12px;
}

a:hover {
  background-color: #2358b9;
}

.profile-dropdown {
  background-color: #f4f4f4;
  width: 168px;
  position: absolute;
  display: none;
}

.profile-dropdown li {
  float: none;
}

.profile-dropdown a {
  display: block;
  color: #2358b9;
}

.profile-dropdown a:hover {
  background-color: #e9e9e9;
}

.profile:hover .profile-dropdown {
  display: block;
}

.active {
  background-color: #2358b9;
}

.profile:hover .active-dropdown {
  background-color: #e9e9e9;
}

.gallery {
  width: 180px;
  background-color: #f4f4f4;
  float: left;
  margin-left: 8px;
}

.gallery a {
  padding: 0;
}

.gallery a:hover {
  background-color: #fff !important;
  border: 1px solid #e9e9e9;
}

.gallery img {
  width: 100%;
}

.desc {
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 512px) {
  li {
    float: none;
  }

  a {
    display: block;
    text-align: center;
  }

  .profile-dropdown {
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  ul.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25%;
  }

  li {
    float: none;
  }

  a {
    display: block;
  }

  .profile-dropdown {
    position: relative;
    width: 100%;
  }
}