* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  min-height: 456px;
  background-color: #fff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  position: sticky;
  top: 0;
  background-color: #006f91;
}

ul {
  list-style-type: none;
  overflow: auto;
}

li {
  float: left;
}

li > a {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #fff;
}

li > a:hover {
  background-color: #027a9e;
}

main {
  padding: 16px;
}

table {
  width: 75%;
  border-collapse: collapse;
  border: transparent;
  text-align: left;
  display: inline-block;
}

th {
  color: #fff;
}

th,
td {
  padding: 12px;
}

tr {
  background-color: #e2e2e2;
}

tr:nth-child(even) {
  background-color: #dadada;
}

th {
  background-color: #006f91;
}
